.background{
    background-color: #02182b   ;
}



.nav_font{
    color: #FFC300;
}

.nav_bar{
    background-color: #032949;
    opacity: 0.9;
    border: thin;
    color: #FFC300;
    
}

.footer {
    
    height:50px;
    margin-bottom: -50px;
    text-align: center;
    color: #FFC300;
    border: solid 1px black
}

